* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root {
    --azul: #6ecff5;
    --branco: #ffffff;
    --preto: #000000;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Patua One", serif;
}

body {
    font-family: "Patua One", serif;
    background-color:var(--azul);
     
}

header img {
    width: 150px;
    height: 150px;
    margin-top: 50px;
    border-radius: 50%;
}

main {
    text-align: center;
}

main h1 {
    margin: 10px 0px;
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--preto);
}

main p {
    max-width: 350px;
    margin-bottom: 40px;
    color: var(--preto);
}

.container > a {
    text-decoration: none;
    background-color: var(--branco);
    color: var(--preto);
    width: 320px;
    text-align: center;
    height: 50px;
    margin: 15px 40px;
    font-weight: 600;
    border-radius: 50px;
    padding-top: 15px;
}

footer {
    margin-top: 20px;
}

footer img {
    margin: 0px 10px;
    border-radius: 50%;
}